* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
}

.header {
  background: #131313;
  padding: 22px 0;
}

.header .navbar {
  text-transform: uppercase;
  width: calc(100% - 82px);
  margin-left: auto;
  padding: 0;
}

.header .navbar-brand {
  color: #E3B873;
  font-family: "FuturaDemiC";
  font-size: 14px;
}

.header .navbar-brand:hover {
  color: #E3B873;
}

.header .navbar-nav {
  font-family: "FuturaBookC";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.header .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
}

.header .navbar-nav .nav-link:hover {
  color: #E3B873;
}

.header .navbar-nav .nav-btn {
  display: block;
  width: 161px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  font-size: 13px;
  font-family: "FuturaDemiC";
  text-transform: uppercase;
  background: #E3B873;
  border: none;
}

.header .navbar-nav .nav-btn:focus {
  outline: none;
}

.home {
  position: relative;
  background: #131313;
}

.home__bg {
  position: relative;
  width: calc(100% - 82px);
  padding: 194px 0 206px;
  background: url(../images/home__bg.png) right top no-repeat;
  margin-left: auto;
}

.home__bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.home .wrapper {
  margin-left: 60px;
  max-width: 504px;
  position: relative;
  z-index: 1;
}

.home__title {
  font-family: "Yeseva One";
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 53px;
  margin-bottom: 19px;
}

.home__title span {
  color: #E3B873;
}

.home__descr {
  font-family: "FuturaBookC";
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 41px;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__btn {
  display: block;
  width: 207px;
  height: 51px;
  line-height: 51px;
  color: #fff;
  font-size: 13px;
  font-family: "FuturaDemiC";
  text-transform: uppercase;
  background: transparent;
  border: none;
  border: 1px solid #fff;
  margin-right: 20px;
}

.home__btn:focus {
  outline: none;
}

.home__btn:hover {
  background: #E3B873;
  border: 1px solid transparent;
}

.home__btn:last-child {
  margin-right: 0;
}

.home__link {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(-155px);
  font-family: "FuturaDemiC";
  color: #E3B873;
  text-transform: uppercase;
  line-height: 16px;
  -webkit-transform: rotate(90deg) translate(-50%, -50%);
          transform: rotate(90deg) translate(-50%, -50%);
}

.home__link::before {
  position: absolute;
  content: '';
  top: 50%;
  left: calc(100% + 8px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  width: 41px;
  background: #E3B873;
}

.home__line {
  width: 41px;
  height: 1px;
  background: #E3B873;
}

.home__scroll-down {
  position: absolute;
  bottom: -50px;
  padding: 0 48px;
  width: 250px;
  height: 100px;
  background: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  line-height: 19.4px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects {
  background: #131313;
  color: #ffffff;
}

.projects__bg {
  padding: 107px 130px 257px 100px;
  background: url(../images/projects__bg.png);
}

.projects__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin-bottom: 53px;
  padding: 0;
}

.projects__tab {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 60px;
  font-size: 14px;
  border-bottom: 1px solid transparent;
}

.projects__tab_active {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
  cursor: pointer;
}

.projects__tab:hover {
  color: #E3B873;
  cursor: pointer;
}

.projects__tab p {
  margin-bottom: 5px;
}

.projects__content {
  position: relative;
  display: none;
}

.projects__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__about {
  position: relative;
  max-width: 420px;
  width: 100%;
  margin-right: 80px;
}

.projects__title {
  width: 253px;
  position: relative;
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 34px;
}

.projects__title::before {
  position: absolute;
  content: '';
  width: 92px;
  height: 1px;
  background: #E3B873;
  bottom: 20px;
  right: 0;
}

.projects__descr {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 42px;
}

.projects .row .col .wrapper {
  margin-bottom: 34px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
}

.projects .row .col .wrapper span {
  display: block;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 9px;
}

.projects .owl-carousel {
  width: calc(100% - 500px);
  position: static;
}

.projects .owl-nav .owl-prev {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 8px;
  background: none;
  left: 0;
}

.projects .owl-nav .owl-prev:hover {
  background: none;
}

.projects .owl-nav .owl-next {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 8px;
  background: none;
  left: 174px;
}

.projects .owl-nav .owl-next:hover {
  background: none;
}

.projects .owl-dots {
  position: absolute;
  bottom: 0;
  left: 72px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */