.completed-projects {
    background: #131313;
    color: #ffffff;

    &__bg {
        background: url(../images/completed-projects/bg.png) no-repeat;
        padding: 107px 100px 217px;
    }

    &__caption {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-bottom: 53px;
        padding: 0;
    }

    &__tab {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
        margin-right: 60px;
        font-size: 14px;
        border-bottom: 1px solid transparent;

        &_active {
            color: $yellow;
            border-bottom: 1px solid $yellow;
        }

        &:hover {
            color: $yellow;
            cursor: pointer;
        }

        p {
            margin-bottom: 5px;
        }
    }

    &__content {
        position: relative;
        display: none;

        &_active {
            display: flex;
        }
    }

    &__about {
        position: relative;
        max-width: 420px;
        width: 100%;
        margin-right: 80px;
        padding-bottom: 100px;
    }

    &__title {
        width: 253px;
        position: relative;
        font-family: $yo;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: $yellow;
        margin-bottom: 34px;

        &::before {
            position: absolute;
            content: '';
            width: 92px;
            height: 1px;
            background: $yellow;
            bottom: 20px;
            right: 0;
        }
    }

    &__descr {
        font-family: $fbc;
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 8px;
    }

    .row {
        .col {
            .wrapper {
                margin-top: 34px;
                font-family: $fbc;
                font-size: 15px;
                line-height: 20px;

                span {
                    display: block;
                    font-family: $yo;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: $yellow;
                    margin-bottom: 9px;
                }
            }
        }
    }

    .owl-carousel {
        width: calc(100% - 500px);
        position: static;
    }

    &__footer {
        text-transform: uppercase;
        font-family: $yo;
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        margin-top: 90px;

        &-icon {
            margin: 12px auto 31px;
            @include icon;
        }

        &-video {
            position: absolute;
            max-width: 817px;
            max-height: 434px;
            width: 100%;
            height: 100%;
            left: 50%;
            transform: translate(-50%);

            &-bg {
                width: 100%;
                height: 100%;
                position: relative;
                background: url(../images/completed-projects/footer-videoBg.png) left top/cover no-repeat;

                .mask {
                    background: rgba(0, 0, 0, 0.8);
                }
            }

            &-btn {
                border-radius: 50%;
                height: 85px;
                width: 85px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url(../images/completed-projects/footer-video-btn.svg) center -25px/145px;
            }
        }
    }
}