.contact {
    margin-top: -222px;
    &__bg {
        padding: 274px 0 65px;
        background: #fff url(../images/contact/bg.webp);
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .mask {
        background: rgba(0, 0, 0, 0.9);
        z-index: -1;
    }

    &__title {
        font-family: $yo;
        font-size: 20px;
        color: $yellow;
        text-transform: uppercase;
    }
    .map {
        margin: 0 auto;
        max-width: 925px;
        height: 465px;
    }
}