.fantasies {
    &__bg {
        padding: 117px 100px 96px;
        background: url(../images/fantasies/fantasies__bg.webp) center center/cover no-repeat;
        position: relative;

        .mask {
            background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
        }
    }

    .wrapper {
        position: relative;
        z-index: 1;
    }

    &__title {
        font-size: 27px;
        font-family: $yo;
        color: $yellow;
        text-transform: uppercase;
        margin-bottom: 47px;
    }

    &__tabs {
        display: flex;
    }

    &__caption {
        margin: 0;
        list-style: none;
        padding-left: 0;
        color: #ffffff;
        font-family: $pn;
        font-size: 20px;
    }

    &__tab {
        margin-bottom: 20px;

        &_active {
            span {
                color: $yellow;
                border-bottom: 1px solid $yellow;
            }
        }

        &:last-child {
            margin-bottom: 24px;
        }

        &:hover {
            color: $yellow;
            cursor: pointer;
        }
    }

    &__content {
        display: none;
        width: calc(100% - 390px);
        margin: 0;
        margin-left: auto;

        .row {
            .col {
                .wrapper {
                    position: relative;

                    .fancy {
                        margin-bottom: 30px;
                        display: block;

                        &:hover {
                            cursor: zoom-in;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &-left {
                        top: -110px;
                    }

                    &-right {
                        top: -30px;
                    }
                }
            }
        }

        &_active {
            display: flex;
        }
    }
}