.footer {
    background: #131313;
    
    .navbar {
        padding: 49px 115px 47px 97px;
        left: 50%;
        transform: translate(-50%);
        text-transform: uppercase;

        &-brand {
            color: $yellow;
            font-family: $fdc;
            font-size: 14px;
            margin-right: 69px;

            &:hover {
                color: $yellow;
            }
        }

        &-collapse {
            max-width: 980px;
        }

        &-nav {
            font-family: $fbc;
            .nav-link {
                color: #fff;
                font-size: 14px;

                &:hover {
                    color: $yellow;
                }

                &.active {
                    color: $yellow;
                }
            }

            .btn {
                @include btn(161px, 37px, 13px, $fdc);
            }
        }
    }
}