.header {
    background: #131313;

    .navbar {
        justify-content: center;
        background: #131313;
        padding: 24px 115px 22px 97px;
        text-transform: uppercase;

        &-brand {
            color: $yellow;
            font-family: $fdc;
            font-size: 14px;
            margin-right: 69px;

            &:hover {
                color: $yellow;
            }
        }

        &-collapse {
            max-width: 980px;
        }

        &-nav {
            font-family: $fbc;
            justify-content: space-between;
            width: 100%;


            .nav-link {
                color: #fff;
                font-size: 14px;

                &:hover {
                    color: $yellow;
                }

                &.active {
                    color: $yellow;
                }
            }

            .btn {
                @include btn(161px, 37px, 13px, $fdc);
            }
        }
    }
}