.home {
    position: relative;
    padding-top: 83px;

    &__bg {
        padding: 194px 0 206px 82px;
        position: relative;
        background: #131313 url(../images/home/bg.webp) right top/cover no-repeat;
        margin-left: auto;
    }

    .mask {
        background: rgba(0, 0, 0, 0.7);
    }

    .wrapper {
        margin-left: 60px;
        max-width: 514px;
        position: relative;
    }

    &__title {
        font-family: $yo;
        color: #ffffff;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 53px;
        margin-bottom: 19px;

        span {
            color: $yellow;
        }
    }

    &__descr {
        font-family: $fbc;
        color: #ffffff;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 41px;
    }

    &__form {
        display: flex;

        .btn {
            @include btn(207px, 51px, 13px, $fdc);
            border: 1px solid #fff;
            background: transparent;
            margin-right: 20px;

            &:hover {
                background: $yellow;
                border: 1px solid transparent;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        font-family: $fdc;

        text-transform: uppercase;
        line-height: 16px;
        height: 100%;
        width: 82px;
        background: #131313;

        a {
            color: $yellow;
        }

        p {
            transform: rotate(90deg) translate(-50%);
            position: relative;
            z-index: 1;
            top: 50%;

            &::before {
                position: absolute;
                content: '';
                top: 50%;
                left: calc(100% + 8px);
                transform: translateY(-50%);
                height: 1px;
                width: 41px;
                background: $yellow;
            }
        }

    }

    &__line {
        width: 41px;
        height: 1px;
        background: $yellow;
    }

    &__scroll-down {
        position: absolute;
        bottom: -50px;
        padding: 0 48px;
        width: 250px;
        height: 100px;
        background: #131313;
        display: flex;
        color: #ffffff;
        font-size: 14px;
        line-height: 19.4px;
        text-transform: uppercase;
        align-items: center;
        justify-content: space-between;
    }
}