.home {
    position: relative;
    background: #131313;
    padding-top: 83px;

    &__bg {
        position: relative;
        width: calc(100% - 82px);
        padding: 194px 0 206px;
        background: url(../images/home__bg.png) right top/cover no-repeat;
        margin-left: auto;
    }

    .mask {
        background: rgba(0, 0, 0, 0.7);
    }

    .wrapper {
        margin-left: 60px;
        max-width: 514px;
        position: relative;
        z-index: 1;
    }

    &__title {
        font-family: $yo;
        color: #ffffff;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 53px;
        margin-bottom: 19px;

        span {
            color: $yellow;
        }
    }

    &__descr {
        font-family: $fbc;
        color: #ffffff;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 41px;
    }

    &__form {
        display: flex;

        .btn {
            @include btn(207px, 51px, 13px, $fdc);
            border: 1px solid #fff;
            background: transparent;
            margin-right: 20px;

            &:hover {
                background: $yellow;
                border: 1px solid transparent;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        position: absolute;
        top: calc(50% - 21px);
        left: -155px;
        font-family: $fdc;
        color: $yellow;
        text-transform: uppercase;
        line-height: 16px;
        transform: rotate(90deg) translate(-50%, -50%);
        z-index: 9999;

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: calc(100% + 8px);
            transform: translateY(-50%);
            height: 1px;
            width: 41px;
            background: $yellow;
        }
    }

    &__line {
        width: 41px;
        height: 1px;
        background: $yellow;
    }

    &__scroll-down {
        position: absolute;
        bottom: -50px;
        padding: 0 48px;
        width: 250px;
        height: 100px;
        background: #131313;
        display: flex;
        color: #ffffff;
        font-size: 14px;
        line-height: 19.4px;
        text-transform: uppercase;
        align-items: center;
        justify-content: space-between;
    }
}