.measurements {
    &__bg {
        margin-top: -525px;
        background: #131313;
        padding: 426px 100px 1500px 126px;
    }

    .mask {
        background: url(../images/measurements-vector__bg.png);
    }

    &__title {
        width: 304px;
        position: relative;
        margin-top: 18px;
        font-family: $yo;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: $yellow;

        &::before {
            position: absolute;
            content: '';
            width: 92px;
            height: 1px;
            background: $yellow;
            bottom: 20px;
            right: 0;
        }
    }

    &__subtitle {
       
        font-family: $fdc;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__content {
        position: relative;
        display: none;

        &_active {
            display: flex;
        }
    }
    .row {
        padding-top: 103px;
        position: relative;
        z-index: 1;
    }
}