.project {
    margin-top: 50px;
    position: relative;
    padding-top: 103px;
    z-index: 1;

    &__bg {
        padding: 103px 100px 0;
        background: #131313;
    }

    .mask {
        top: -100px;
        background: url(../images/steps-vector__bg.png) no-repeat;
    }

    &__title {
        font-family: $yo;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #181818;
        text-align: center;
    }

    &__icon {
        @include icon;
    }

    &__descr {
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #363636;
        margin: 24px 0 39px;
        font-family: $fbc;
    }

    .row {
        max-width: 1236px;
        margin: 0 auto;

        .col {
            .card {
                max-width: 392px;
                position: relative;
                min-height: 211px;
                background: transparent;
                box-shadow: none;
                margin: 0 auto;

                &-body {
                    padding: 25px 2rem;
                    width: 80%;
                    background: #fff;
                    box-shadow: 0 0 10px #00000030;
                    position: relative;
                    left: 50%;
                    top: -126px;
                    transform: translate(-50%);
                    text-align: left;
                }

                &-title {
                    color: #363636;
                    font-family: $yo;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: bold;
                }

                &-text {
                    color: #959595;
                    font-family: $fbc;
                    font-size: 15px;
                    line-height: 25.5px;
                    padding-left: 1rem;
                }

                .btn {
                    @include btn (228px, 54px, 18px, $yo);
                    position: absolute;
                    left: 0;
                    bottom: -27px;
                    border-radius: 0;
                }
            }
        }
    }
}