.registration {
    &__bg {
        background: url(../images/bg_vector.png);
    }

    &__form {
        margin: 0 auto;
        max-width: 769px;

        .row {
            max-width: 769px;

            .label {
                width: 231px;
                border-bottom: 1px solid #36363630;
                margin: 92px auto 0;
                padding: 0;

                &:focus-within {
                    border-bottom: 1px solid $yellow;

                    .text {
                        color: $yellow;
                    }
                }

                .text {
                    font-size: 15px;
                    line-height: 20px;
                    color: #36363680;
                    font-family: $fbc;
                    margin-right: 58px;

                    &:nth-child(2) {
                        margin-right: 49px;
                    }
                }

                .input {
                    width: 100%;
                    border: none;
                    font-size: 18px;
                    color: #363636;
                    line-height: 24px;
                    font-family: $fbc;
                    outline: none;

                    &::placeholder {
                        color: #363636;
                    }
                }
            }

            .btn {
                @include btn(200px, 51px, 15px, $yellow);
                line-height: 26px;
                margin: 92px auto 0;
            }
        }

        .checkbox {
            @include checkbox;
            margin-top: 33px;
        }
    }
}