.request {
    padding: 0 100px 135px 0;
    flex-wrap: wrap;
    align-items: center;
    display: flex;

    &__bg {
        position: relative;

        span {
            position: absolute;
            font-size: 18px;
            z-index: 1;

            &:nth-child(even) {
                color: #fff;
                line-height: 25px;
                font-family: $yo;
            }

            &:nth-child(odd) {
                color: #363636;
                line-height: 21px;
                font-family: $fmc;
                font-weight: 500;
            }
        }

        .item-1 {
            left: 367px;
            top: 125px;
            @include circle;
        }

        .item-2 {
            width: 364px;
            left: 411px;
            top: 118px;
        }

        .item-3 {
            left: 441px;
            top: 236px;
            @include circle;
        }

        .item-4 {
            left: 485px;
            top: 238px;
        }

        .item-5 {
            left: 466px;
            top: 397px;
            @include circle;
        }

        .item-6 {
            left: 510px;
            top: 400px;
        }

        .item-7 {
            left: 401px;
            top: 557px;
            @include circle;
        }

        .item-8 {
            left: 445px;
            top: 550px;
        }
    }

    &__form {
        position: relative;
        margin-left: auto;
        padding: 28px 49px 27px;
        max-width: 506px;
        max-height: 509px;
        width: 100%;
        flex-direction: column;
        background: #131313;
        z-index: 1;

        .title {
            text-align: center;
            color: #ffffff;
            font-size: 20px;
            line-height: 24px;
            font-family: $fdc;
        }

        .label {
            max-width: 408px;
            border-bottom: 1px solid #ffffff26;
            margin-top: 48px;

            &:nth-of-type(1) {
                margin-top: 39px;
            }

            &:focus-within {
                border-bottom: 1px solid $yellow;

                .text {
                    color: $yellow;
                }
            }

            .text {
                font-size: 15px;
                line-height: 20px;
                color: #ffffff80;
                font-family: $fbc;
            }

            .input {
                width: 100%;
                border: none;
                font-size: 18px;
                color: #fff;
                line-height: 25px;
                font-family: $fbc;
                outline: none;
                background: none;

                &::placeholder {
                    color: #fff;
                }
            }
        }

        .checkbox {
            @include checkbox;
            color: #fff;
            margin-top: 21px;
        }

        .btn {
            @include btn(213px, 51px, 13px, $fdc);
            margin: 39px 0 0 auto;
            border-radius: 0;
        }
    }

    .mask {
        background: url(../images/request/form-bg.webp) 0 0/cover;
        z-index: -1;
    }

    .saveMoney {
        position: relative;
        margin-left: auto;
        max-width: 477px;
        width: 100%;
        display: flex;
        justify-content: center;

        .pig {
            position: relative;
            left: 0;
            top: 7px;
            width: 40px;
            height: 33px;
            z-index: 1;
            margin-right: 41px;

            &::before {
                background: $yellow;
                content: '';
                position: absolute;
                width: 72px;
                height: 72px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }

        .text {
            font-family: $fdc;
            font-size: 20px;
            line-height: 25px;
            color: $yellow;
        }
    }
}