.team {
    padding-top: 103px;
    background: url(../images/team/bg.webp) center top;

    &__title {
        font-family: $yo;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    &__icon {
        @include icon;
    }

    &__subtitle {
        max-width: 450px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        margin: 24px auto 70px;
        font-family: $fbc;
    }

    .row {
        column-gap: calc(105px - 1.5rem);

        .col {
            flex-basis: calc(272px + 1.5rem);

            .card {
                position: relative;
                background: transparent;
                box-shadow: none;

                &-icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 70px;
                        height: 70px;
                        z-index: -1;
                        background: $yellow;
                    }
                }

                &-body {
                    padding: 22px 0 24px;
                    width: 90%;
                    min-height: 138px;
                    background: #fff;
                    box-shadow: 0 0 10px #00000030;
                    position: relative;
                    left: 50%;
                    top: -69px;
                    transform: translate(-50%);
                    text-align: left;
                }

                &-title {
                    color: #181818;
                    font-family: $yo;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                }

                &-text {
                    color: #959595;
                    font-family: $fbc;
                    font-size: 18px;
                    text-align: center;
                    padding: 0;
                }

                .btn {
                    @include btn (100%, 44px, 13px, $yo);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-radius: 0;
                }
            }
        }
    }

    &__descr {
        position: relative;
        max-width: 558px;
        margin: 20px auto 0;
        text-align: center;
        font-family: $fbc;
        color: #363636;
        font-size: 20px;

        &::before {
            content: '';
            position: absolute;
            width: 55px;
            height: 1.5px;
            background: $yellow;
            left: 50%;
            transform: translate(-50%);
            top: -34px;
        }
    }
}