.types {
    padding-top: 103px;

    &__title {
        font-family: $yo;
        font-size: 20px;
        text-transform: uppercase;
        color: #181818;
        text-align: center;
    }

    &__icon {
        @include icon;
        margin-bottom: 31px;
    }

    .row {

        .col {
            flex-basis: calc(393px + 1.5rem);

            .card {
                position: relative;
                background: transparent;
                box-shadow: none;

                &-body {
                    padding: 25px 2rem;
                    width: 80%;
                    background: #fff;
                    box-shadow: 0 0 10px #00000030;
                    position: relative;
                    left: 50%;
                    top: -150px;
                    transform: translate(-50%);
                    text-align: left;
                }

                &-title {
                    color: #363636;
                    font-family: $yo;
                    font-size: 18px;
                    font-weight: bold;
                }

                &-text {
                    color: #959595;
                    font-family: $fbc;
                    font-size: 15px;
                    padding-left: 1rem;
                }

                .btn {
                    @include btn (228px, 54px, 18px, $yo);
                    position: absolute;
                    left: 0;
                    bottom: -27px;
                    border-radius: 0;
                }
            }
        }
    }
}