$yellow: #E3B873;
$fdc: 'FuturaDemiC',
sans-serif;
$fbc: 'FuturaBookC',
sans-serif;
$fmc: 'FuturaMediumC',
sans-serif;
$yo: 'Yeseva One',
serif;
$pn: 'Proxima Nova Rg',
sans-serif;

@mixin btn($wd, $hg, $fz, $ff) {
    display: block;
    width: $wd;
    height: $hg;
    line-height: $hg;
    color: #fff;
    font-size: $fz;
    font-family: $ff;
    background: $yellow;
    border: none;
    padding: 0;
    text-align: center;
    margin: 0;

    &:focus {
        outline: none;
    }
}

@mixin owl-nav {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 8px;
    background: none;

    &:hover {
        background: none;
    }
}

@mixin icon {
    position: relative;
    text-align: center;
    margin-top: 13px;

    &::before {
        content: '';
        position: absolute;
        width: 32px;
        height: 1.5px;
        background: $yellow;
        left: calc(50% - 42px);
        top: 14px;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 1.5px;
        background: $yellow;
        right: calc(50% - 42px);
        top: 14px;
        transform: translate(50%, -50%);
    }
}

@mixin circle {
    &::before {
        content: '';
        position: absolute;
        width: 42px;
        height: 42px;
        background: $yellow;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

@mixin checkbox {
    max-width: 286px;
    margin: 0 auto;
    position: relative;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    padding-left: 27px;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
    font-family: $fbc;

    .input {
        position: absolute;
        opacity: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
        width: 286px;
        height: 18px;

        &:checked {
            ~.checkmark {
                background: $yellow url(../images/svg/checkbox.svg) center no-repeat;
            }
        }
    }

    .checkmark {
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $yellow;
        border-radius: 2px;
    }
}

@mixin burger {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;

    

    &__line {
        position: relative;
        width: 30px;
        height: 2px;
        background: $yellow;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $yellow;
            top: 8px;
            left: 0;
            transition: .25s;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $yellow;
            bottom: 8px;
            left: 0;
            transition: .25s;
        }
    }
}