$yellow: #E3B873;
$fdc: 'FuturaDemiC';
$fbc: 'FuturaBookC';
$yo: 'Yeseva One';


@mixin btn($wd, $hg, $fz, $bg) {
    display: block;
    width: $wd;
    height: $hg;
    line-height: $hg;
    color: #fff;
    font-size: $fz;
    font-family: $fdc;
    text-transform: uppercase;
    background: $bg;
    border: none;

    &:focus {
        outline: none;
    }
}

@mixin owl-nav {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 8px;
    background: none;

    &:hover {
        background: none;
    }
}