.vector-bg {
    &__first {
        background: #fff url(../images/vector-bg/first.webp) no-repeat;
    }

    &__second {
        background: #fff url(../images/vector-bg/second.webp) center center/cover no-repeat;
    }

    &__third {
        background: #fff linear-gradient(#fff 0, #131313 0) center 641px/100% 62.1% no-repeat;

        .mask {
            background: url(../images/vector-bg/third.png) center 1875px;
            opacity: 50%;
        }
    }
}